.EmpHeader{
    height: 100px;
    background-color: rgba(16, 2, 39, 0.493);
    
}
h1{
    color: rgb(255, 255, 255);
    font-family: Goudy Old Style;
    font-size: 45px;
    margin-left:8px;
    margin-top: 8px;
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
}
.left{
    float: left;
}
.right{
    float:right;
}
#Emplogout{
    border: 0;
    height: 50px;
    width: 160px;
    text-align: center;
    margin-top: 20px;
    border-radius: 50px;
    font-family: MV Boli;
    font-size: 20px;
    color: teal;
    cursor: pointer;
}
#Emplogout:hover{
    background-color: rgba(0, 0, 0, 0.616);
    color:rgb(255, 255, 255);
}
.AddGoal{
    height: 500px;
    width: 300px;
}